<div class="row">
    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-11">
                        <h4>Tags</h4>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="tag in tags">
                        <td>{{tag.id}}</td>
                        <td>{{tag.name}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>