
<div class="row">
    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-11">
                        <h4>Generate Entities</h4>
                    </div>
                </div>
            </div>
            <div>
                <button class="btn btn-default" data-toggle="modal" data-target="#createCity">create City
                </button>
            </div>
            <div>
                <button class="btn btn-default" data-toggle="modal" data-target="#createLocation">create Location
                </button>
            </div>
            <div>
                <button class="btn btn-default" data-toggle="modal" data-target="#createPost">create Post
                </button>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="createCity" tabindex="-1" role="dialog" aria-labelledby="createCity" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="AddCityLabel">Create City</h4>
            </div>
            <form class="form-horizontal" name="addForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="cityName" class="col-sm-3 control-label">City Name</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="cityName" placeholder="cityName"
                                   ng-model="cityName" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="generateCity()">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="createLocation" tabindex="-1" role="dialog" aria-labelledby="createCity" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="AddLocationLabel">Create Location</h4>
            </div>
            <form class="form-horizontal" name="addForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="cityName" class="col-sm-3 control-label">Location Name</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="locationName" placeholder="locationName"
                                   ng-model="locationName" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cityName" class="col-sm-3 control-label">CityId</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="locationCityId" placeholder="locationCityId"
                                   ng-model="locationCityId" required>
                        </div>
                    </div>    <div class="form-group">
                    <label for="cityName" class="col-sm-3 control-label">Street</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="locationStreet" placeholder="locationStreet"
                               ng-model="locationStreet" required>
                    </div>
                </div>    <div class="form-group">
                    <label for="cityName" class="col-sm-3 control-label">Housenumber</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="locationHousenumber" placeholder="locationHousenumber"
                               ng-model="locationHousenumber" required>
                    </div>
                </div>    <div class="form-group">
                    <label for="cityName" class="col-sm-3 control-label">Phonenumber</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="locationPhonenumber" placeholder="locationPhonenumber"
                               ng-model="locationPhonenumber" required>
                    </div>
                </div>    <div class="form-group">
                    <label for="cityName" class="col-sm-3 control-label">GPS</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="locationGPS" placeholder="locationGPS"
                               ng-model="locationGPS" required>
                    </div>
                </div>    <div class="form-group">
                    <label for="cityName" class="col-sm-3 control-label">Description</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="locationDescription" placeholder="locationDescription"
                               ng-model="locationDescription" required>
                    </div>
                </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="generateLocation()">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="createPost" tabindex="-1" role="dialog" aria-labelledby="createPost" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="AddPostLabel">Create Post</h4>
            </div>
            <form class="form-horizontal" name="addForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="cityName" class="col-sm-3 control-label">Post UserId</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="postUserId" placeholder="postUserId"
                                   ng-model="postUserId" required>
                        </div>
                    </div>
                    <div class="form-group">
                    <label for="cityName" class="col-sm-3 control-label">Post Content</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="postContent" placeholder="postContent"
                               ng-model="postContent" required>
                    </div>
                </div>
                    <div class="form-group">
                        <label for="cityName" class="col-sm-3 control-label">Post LocationId</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="postLocationId" placeholder="postLocationId"
                                   ng-model="postLocationId" required>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="generatePost()">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
